<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
		<title>Crecommend</title>
        <link href="{% static 'market/css/style.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'market/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'market/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

        <style>
            .mystrong{
                font-size: 12px !important;
                font-weight: 300 !important;
                color:#8B8378 !important;
            }
            .form-box{
                border-radius:2% !important;
                padding: 22px !important;
                margin-top: 5px;
                background-color:#EEE9E9 !important;
                rgba(0,0,0,0.5) !important;
            }
            .myform{
                width: 50%;
                line-height: inherit;
{#                line-height: 1.42857143;#}
                line-height: 1.22857143;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 4px;
                height: 30px;
                padding: 6px 10px;
            }
            .mybrand{
                font-size:12px  !important;
                font-weight: 300 !important;
                color:#5e5e5e  !important;
            }
            .num{
                text-align: right;
                font-size:12px  !important;
                font-weight: bold  !important;
                color:#836FFF  !important;
            }
            .height-control{
                width:100%;
                overflow : hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2 !important;
                -webkit-box-orient: vertical;
            }
            .no-newline{
                width:100%;
                white-space: nowrap;
                overflow:hidden !important;
                text-overflow:ellipsis !important;
                padding: 0;
                margin: 0;
            }
        </style>
    </head>   
	<body>
		<!-- header -->
		<header class="header">

			<!-- header top -->
			<div class="header-top">
				<div class="container">
					<div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <h5><span class="t-color-1" style="font-weight: bold">Crecommend</span></h5>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-inline pull-right">
                                    <li><a href="#" id = 'user'><i class="fa fa-user"></i> {{ user }}</a></li>
                                    <li><a href="#" ><i class="fa fa-heart-o"></i> 收藏夹</a></li>
                                    <li><a class="register" href="#" >登录</a></li>
                                    <li><a class="register" href="#" >注册</a></li>
                                </ul>
                            </div>
					    </div>
				    </div>
			    </div>
            </div>
			<!-- header bottom -->
			<div class="header-bottom">
				<div class="row">
					<div class="col-sm-12">
						<nav class="navbar navbar-default">
							<div class="container">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-bottom" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="row">
								<div class="col-sm-9 collapse navbar-collapse" id="header-bottom">
									<ul class="nav navbar-nav">
										<li class="active"><a href="#"  onmouseover="this.style.color='white'" onmouseout="this.style.color='#FFB90F'" style="text-align: center;color:#FFB90F;font-size:18px;width: 100px;font-weight: 300" >手机</a><span class="label label-info text-center hidden-xs">New <i class="fa fa-caret-right"></i></span>
										</li>
										<li><a href="product-detail.html" onmouseover="this.style.color='#FFB90F'" style="text-align: center;font-size:18px;color: #FFFFF0;width: 100px;font-weight: 300" onmouseout="this.style.color='white'"  >电脑</a>
										</li>
                                        <li><a href="about-us.html" onmouseover="this.style.color='#FFB90F'" onmouseout="this.style.color='white'" style="text-align: center;font-size:18px;color: #FFFFF0;width: 100px;font-weight: 300">电器</a> </li>

                                        <li><a href="product-detail.html" class="dropdown-toggle" onmouseover="this.style.color='#FFB90F'" style="text-align: center;font-size:18px;color: #FFFFF0;width: 100px;font-weight: 300" onmouseout="this.style.color='white'"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">彩妆</a><span class="label label-danger text-center hidden-xs">Hot <i class="fa fa-caret-right"></i></span>
											<ul class="dropdown-menu">
                                                <li><a href="product-detail.html">底妆</a></li>
												<li><a href="product.html">眼妆</a></li>
												<li><a href="new-product.html">唇妆</a></li>
												<li><a href="new-product.html">香水</a></li>
											</ul>
										</li>

                                        <li><a href="product-detail.html" class="dropdown-toggle" onmouseover="this.style.color='#FFB90F'" style="text-align: center;font-size:18px;color: #FFFFF0;width: 100px;font-weight: 300" onmouseout="this.style.color='white'"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">护肤</a>
											<ul class="dropdown-menu">
												<li><a href="product.html">洁面</a></li>
												<li><a href="product-detail.html">面膜</a></li>
												<li><a href="new-product.html">乳液面霜</a></li>
												<li><a href="new-product.html">精华眼霜</a></li>
											</ul>
										</li>
									</ul>
								</div>
                                <div class="logo col-sm-3" style="font-size: 24px;float:right;"><i class="fa fa-diamond"></i>Crecommend</div>
						        </div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>

		<!-- recommented products -->
		<section class="featured-product recommented-product" style="margin-top:0;padding-top: 0 ">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="sidebar  ">
							<div class="well wedget form-box">
							 	<strong style="color: #5e5e5e">当前筛选条件</strong>
                                <div >
                                    <form role="form" action="/recommend_products" method="POST" class="registration-form">
                                        <div class="form-group">
                                            <input type="text" name="kind" id="kind" style="display:none;" placeholder="商品类别..." class="form-name form-control"  >
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="keywords" id="keywords" placeholder="搜索关键字..." class="form-last-name form-control"  >
                                        </div>
                                        <div class="form-group">
                                            <div class="f1" >
                                                    <input type="text" name="price1" id="price1" placeholder="最低价..." class="form-email form-control " style="width:47%;display:inline"   >
                                                  <em>-</em>
                                                    <input type="text" name="price2" id="price2" placeholder="最高价..." class="form-email form-control" style="width:47%;display:inline"    >
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-default btn-block" style="font-weight: bold;border-bottom: 2px solid #8AAA63;color: #fff;background-color: #8ec63f">重新搜索</button>
                                        {% csrf_token %}
                                    </form>
                                </div>
							</div>
							<div class="well wedget form-box">
							 	<strong style="color: #5e5e5e">热门品牌排行榜</strong>
                                <div class="heading-border b-color-6" style="color: #5e5e5e;width:100%;margin-bottom: 15px"></div>
                                <ul class="check-box">
                                     {% for i in results.brands %}
									<li>
										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-primary active">
												<input type="checkbox" autocomplete="off" checked><i class="fa fa-check"></i>
											</label>
                                            <span class="mybrand no-newline">{{ i.brand }}</span> <span class="mybrand pull-right">{{ i.follow }}人关注</span>
										</div>
									 </li>
                                     {% endfor %}
								</ul>
							</div>
                            <div class="well wedget form-box">
                                <strong style="color: #5e5e5e">设置推荐参数分值</strong>
                                <div class="heading-border b-color-6" style="color: #5e5e5e;width:100%;margin-bottom: 15px"></div>
                                <div >
                                    <form role="form" action="/reset_weight" method="POST" class="registration-form">
                                        <div class="form-group">
                                            <input type="text" name="kind" id="kind" style="display:none;" placeholder="商品类别..." class="form-name form-control"  >
                                        </div>
                                         <div class="form-group">
                                             <span>好评率：</span><input type="text" name="rate" style="width: 73%" id="rate" placeholder="好评率..." class="form-last-name myform"  >
                                        </div>
                                        <div class="form-group">
                                            <span>店家关注度：</span><input type="text" name="follow" style="width: 60%" id="follow" placeholder="店家热门程度..." class="form-last-name myform"  >
                                        </div>
                                        <div class="form-group">
                                            <span>商品销量：</span><input type="text" name="comment" style="width: 66%" id="comment" placeholder="商品销量..." class="form-last-name myform"  >
                                        </div>
                                         <div class="form-group">
                                             <span>评论情感值：</span><input type="text" name="sentiment" style="width: 60%" id="sentiment" placeholder="评论情感值..." class="form-last-name myform"  >
                                        </div>
                                        <div class="form-groupphoto">
                                            <span>品牌关注度：</span><input type="text" name="brand_hot" style="width: 60%" id="brand_hot" placeholder="品牌热门程度..." class="form-last-name myform"  >
                                        </div>
                                        <button type="submit" class="btn btn-default btn-block" style="margin-top:10px;font-weight: bold;border-bottom: 2px solid #8AAA63;color: #fff;background-color: #8ec63f">确认设置</button>
                                        {% csrf_token %}
                                    </form>
                                </div>
                            </div>

                            <div class="single-add">
{#                                <form role="form" action="/sale_products" method="POST" class="registration-form">#}
{#                                    <h4 style="font-weight: 600">查看 <span style="font-weight: 600">降价</span></h4>#}
{#                                    <h4 style="font-weight: 600">商品列表</h4>#}
{#                                    <buttom class="btn btn-default" type="submit" role="button" >查看详情</buttom>#}
{#                                    <span class="img-add"><img class="img-responsive" src="static/market/images/red-tablet.png" width="120px" alt="" /></span>#}
{#                                 {% csrf_token %}#}
{#                                 </form>#}
{#                                #}
                              <form role="form" action="/sale_products" method="POST" class="registration-form">
                                <div class="form-group">
                                    <input type="text" name="sku" id="sku" style="display:none;" value={{i.sku}} placeholder="商品类别..." class="form-name form-control"  >
                                 </div>
                                <button class="btn btn-default" type="submit" role="button" style="margin-top: 0px">查看详情</button>
                                <span class="pull-right" style="margin-top: 0px"><i class="fa fa-heart-o"></i> 加入收藏夹</span>

                              {% csrf_token %}
                             </form>
                            </div>
							<div class="well wedget footer-top">
							 	<strong>Special Offers</strong>
								<div class="heading-border b-color-6"></div>
								<ul class="media-list">
									<li class="media">
										<div class="media-left"><img src="static/market/images/featured-1.jpg" alt=""></div>
										<div class="media-body">
											<p class="media-heading">Lorem ipsum dolor</p>
											<div class="category">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i> 
												<i class="fa fa-star"></i> 
												<i class="fa fa-star"></i> 
												<i class="fa fa-star-o"></i>
											</div>
											<strong>$899.99</strong>
										</div>
									</li>
									<li class="media">
										<div class="media-left"><img src="static/market/images/featured-1.jpg" alt=""></div>
										<div class="media-body">
											<p class="media-heading">Lorem ipsum dolor</p>
											<div class="category">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i> 
												<i class="fa fa-star"></i> 
												<i class="fa fa-star"></i> 
												<i class="fa fa-star-o"></i>
											</div>
											<strong>$899.99</strong>
										</div>
									</li>
									<li class="media">
										<div class="media-left"><img src="static/market/images/featured-1.jpg" alt=""></div>
										<div class="media-body">
											<p class="media-heading">Lorem ipsum dolor</p>
											<div class="category">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i> 
												<i class="fa fa-star"></i> 
												<i class="fa fa-star"></i> 
												<i class="fa fa-star-o"></i>
											</div>
											<strong>$899.99</strong>
										</div>
									</li>
									
								</ul>
							</div>
						</div> <!-- sidebar -->
					</div>

					<div class="col-sm-9">
						<div class="row">
							<div class="col-sm-12">
								<div class="" >
									<h1><span class="t-color-1"  style="margin-top: 0px;">Recommended</span> Products</h1>
									<div class="heading-border b-color-1"></div>
								</div>
							</div>
						</div> <!-- section title -->
						
						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic" data-slide-to="0" class="active"><i class="fa fa-angle-left"></i></li>
								<li data-target="#carousel-example-generic" data-slide-to="1"><i class="fa fa-angle-right"></i></li>
								<li data-target="#carousel-example-generic" data-slide-to="2"><i class="fa fa-angle-right"></i></li>
							</ol>
							<div class="carousel-inner" role="listbox">
								<div class="item active">
                                    <div class="row">
                                        {% for i in results.data1 %}
										<div class="col-sm-4">
											<div class="thumbnail">
												<!--span class="e-label"><div>Sale</div></span-->
												<span class="service-link text-center" >
                                                    <img class="img-responsive" id="image0" src={{ i.img }} alt="图片正在加载......">
													<div class="list-inline">
														<a href={{i.url }}><i class="fa fa-eye"></i></a>
														<a href={{i.url }}><i class="fa fa-link"></i></a>
													</div>
												</span>
												<div class="caption" style="height: 170px;">
													<div class="category" style="margin:0px">
                                                        <strong id="price0" style="font-size: 18px">￥{{i.price }}
                                                            <span style="text-decoration: line-through;font-size: 14px">￥{{i.avg_price }}</span>
                                                            <span class="pull-right" id="rate0" style="line-height: 16px;font-size: 16px;margin-top: 18px;color: #d43f3a;font-size: 18px">{{i.rate }}</span>
                                                        </strong>
                                                        <p class="height-control" style="color: #5e5e5e;margin: 0;padding:0;line-height: 20px;height: auto;font-size: 13px">{{i.name }}</p>
                                                        <strong class="mystrong no-newline">{{i.shop }}</strong>
                                                        <br>
                                                        <strong class="num">{{i.comment }}</strong><strong class="mystrong ">条评价</strong>
                                                        <strong class="num " style="float: right;margin-top: 2px">  {{i.follow }}<strong class="mystrong">人关注店铺</strong></strong>
                                                        <br>
                                                        <form role="form" action="/product_detail" method="POST" class="registration-form">
                                                            <div class="form-group">
                                                                <input type="text" name="sku" id="sku" style="display:none;" value={{i.sku}} placeholder="商品类别..." class="form-name form-control"  >
                                                             </div>
                                                            <button class="btn btn-default" type="submit" role="button" style="margin-top: 0px">查看详情</button>
                                                            <span class="pull-right" style="margin-top: 0px"><i class="fa fa-heart-o"></i> 加入收藏夹</span>
                                                          {% csrf_token %}
                                                         </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
									</div>
								</div>
								<div class="item">
									<div class="row">
										{% for i in results.data2 %}
										<div class="col-sm-4">
											<div class="thumbnail">
												<!--span class="e-label"><div>Sale</div></span-->
												<span class="service-link text-center" >
                                                    <img class="img-responsive" id="image0" src={{ i.img }} alt="图片正在加载......">
													<div class="list-inline">
														<a href={{i.url }}><i class="fa fa-eye"></i></a>
														<a href={{i.url }}><i class="fa fa-link"></i></a>
													</div>
												</span>
												<div class="caption" style="height: 170px;">
													<div class="category" style="margin:0px">
                                                        <strong id="price0" style="font-size: 18px">￥{{i.price }}
                                                            <span style="text-decoration: line-through;font-size: 14px">￥{{i.avg_price }}</span>
                                                            <span class="pull-right" id="rate0" style="line-height: 16px;font-size: 16px;margin-top: 18px;color: #d43f3a;font-size: 18px">{{i.rate }}</span>
                                                        </strong>
                                                        <p class="height-control" style="color: #5e5e5e;margin: 0;padding:0;line-height: 20px;height: auto;font-size: 13px">{{i.name }}</p>
                                                        <strong class="mystrong no-newline">{{i.shop }}</strong>
                                                        <br>
                                                        <strong class="num">{{i.comment }}</strong><strong class="mystrong ">条评价</strong>
                                                        <strong class="num " style="float: right;margin-top: 2px">  {{i.follow }}<strong class="mystrong">人关注店铺</strong></strong>
                                                        <br>
                                                        <form role="form" action="/product_detail" method="POST" class="registration-form">
                                                            <div class="form-group">
                                                                <input type="text" name="sku" id="sku" style="display:none;" value={{i.sku}} placeholder="商品类别..." class="form-name form-control"  >
                                                             </div>
                                                            <button class="btn btn-default" type="submit" role="button" style="margin-top: 0px">查看详情</button>
                                                            <span class="pull-right" style="margin-top: 0px"><i class="fa fa-heart-o"></i> 加入收藏夹</span>
                                                          {% csrf_token %}
                                                         </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
									</div>
								</div>
								<div class="item">
									<div class="row">
										{% for i in results.data3 %}
										<div class="col-sm-4">
											<div class="thumbnail">
												<!--span class="e-label"><div>Sale</div></span-->
												<span class="service-link text-center" >
                                                    <img class="img-responsive" id="image0" src={{ i.img }} alt="图片正在加载......">
													<div class="list-inline">
														<a href={{i.url }}><i class="fa fa-eye"></i></a>
														<a href={{i.url }}><i class="fa fa-link"></i></a>
													</div>
												</span>
												<div class="caption" style="height: 170px;">
													<div class="category" style="margin:0px">
                                                        <strong id="price0" style="font-size: 18px">￥{{i.price }}
                                                            <span style="text-decoration: line-through;font-size: 14px">￥{{i.avg_price }}</span>
                                                            <span class="pull-right" id="rate0" style="line-height: 16px;font-size: 16px;margin-top: 18px;color: #d43f3a;font-size: 18px">{{i.rate }}</span>
                                                        </strong>
                                                        <p class="height-control" style="color: #5e5e5e;margin: 0;padding:0;line-height: 20px;height: auto;font-size: 13px">{{i.name }}</p>
                                                        <strong class="mystrong no-newline">{{i.shop }}</strong>
                                                        <br>
                                                        <strong class="num">{{i.comment }}</strong><strong class="mystrong ">条评价</strong>
                                                        <strong class="num " style="float: right;margin-top: 2px">  {{i.follow }}<strong class="mystrong">人关注店铺</strong></strong>
                                                        <br>
                                                        <form role="form" action="/product_detail" method="POST" class="registration-form">
                                                            <div class="form-group">
                                                                <input type="text" name="sku" id="sku" style="display:none;" value={{i.sku}} placeholder="商品类别..." class="form-name form-control"  >
                                                             </div>
                                                            <button class="btn btn-default" type="submit" role="button" style="margin-top: 0px">查看详情</button>
                                                            <span class="pull-right" style="margin-top: 0px"><i class="fa fa-heart-o"></i> 加入收藏夹</span>
                                                          {% csrf_token %}
                                                         </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
									</div>
								</div>
							</div>
						</div>
						<!-- pagination -->
						<nav>
							<ul class="pagination">
								<li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
								<li class="active"><a href="#">1</a></li>
								<li ><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
							</li>
							</ul>
						</nav>
					</div><!--div 9 -->
				</div>
			</div>
		</section>

		<!-- social icons -->
		<section class="social-icons">
			<div class="container">			
				<div class="row">	
					<div class="col-sm-12">
						<ul class="list-inline text-center">
							<li><a href="#" ><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" ><i class="fa fa-spotify"></i></a></li>
							<li><a href="#" ><i class="fa fa-tumblr"></i></a></li>
							<li><a href="#" ><i class="fa fa-share-alt"></i></a></li>
							<li><a href="#" ><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#" ><i class="fa fa-delicious"></i></a></li>
							<li><a href="#" ><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" ><i class="fa fa-dropbox"></i></a></li>
							<li><a href="#" ><i class="fa fa-soundcloud"></i></a></li>
							<li><a href="#" ><i class="fa fa-pinterest"></i></a></li>
							<li><a href="#" ><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" ><i class="fa fa-github-alt"></i></a></li>
							<li><a href="#" ><i class="fa fa-skype"></i></a></li>
							<li><a href="#" ><i class="fa fa-stumbleupon"></i></a></li>
							<li><a href="#" ><i class="fa fa-youtube"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>	
		
		<footer>
			<div class="footer-bottom">
				<div class="container">		
					<div class="row">	
						<div class="col-sm-12 text-center">
							<p>Copyright 2015 made by <a href="#">Bootultra.com</a> & Disign by Shaifuddin. All Rights Reserved.</p>
							<ul class="list-inline center-block">
								<li><a href="#"><img src="static/market/images/card-1.png"></a></li>
								<li><a href="#"><img src="static/market/images/card-2.png"></a></li>
								<li><a href="#"><img src="static/market/images/card-3.png"></a></li>
								<li><a href="#"><img src="static/market/images/card-4.png"></a></li>
								<li><a href="#"><img src="static/market/images/card-5.png"></a></li>
							</ul>
						</div>
					</div>
				</div>	
			</div>
		</footer>
			
        <!-- ALL JAVASCRIPT -->         
        <script src="static/market/js/jquery.js"></script>
        <script src="static/market/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/market/js/custom.js"></script>

        <script type="text/javascript">
            var message = {{ message|safe}};
            document.getElementById('kind').value = message['kind']
            document.getElementById('keywords').value = message['keywords']
            document.getElementById('price1').value = message['price1']
            document.getElementById('price2').value = message['price2']
            document.getElementById('user').value = 'cj'

            var weight = {{ weight|safe}};
            document.getElementById('rate').value = weight['rate']
            document.getElementById('comment').value = weight['comment']
            document.getElementById('follow').value = weight['follow']
            document.getElementById('brand_hot').value = weight['brand_hot']
            document.getElementById('sentiment').value = weight['sentiment']
        </script>
    </body>
</html>