<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
		<title>Crecommend</title>
        <!-- ALL STYLESHEET -->
        <link href="{% static 'market/css/style.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'market/css/style2.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'market/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'market/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

        <style>
            .comment .comment-item {
                width: 78px;
                height: 14px;
                background: url(//static.360buyimg.com/item/unite/1.0.0/components/default/comment/i/star.png) no-repeat;
            }
        </style>
    </head>   
	<body>
		<!-- header -->
		<header class="header">

			<!-- header top -->
			<div class="header-top">
				<div class="container">
					<div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <h5><span class="t-color-1" style="font-weight: bold">Crecommend</span></h5>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-inline pull-right">
                                    <li><a href="#" ><i class="fa fa-user"></i> 我的账号</a></li>
                                    <li><a href="#" ><i class="fa fa-heart-o"></i> 收藏夹</a></li>
                                    <li><a class="register" href="#" >登录</a></li>
                                    <li><a class="register" href="#" >注册</a></li>
                                </ul>
                            </div>
					    </div>
				    </div>
			    </div>
            </div>
			<!-- header bottom -->
			<div class="header-bottom">
				<div class="row">
					<div class="col-sm-12">
						<nav class="navbar navbar-default">
							<div class="container">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-bottom" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="row">
								<div class="col-sm-9 collapse navbar-collapse" id="header-bottom">
									<ul class="nav navbar-nav">
										<li class="active"><a href="#" class="dropdown-toggle"  onmouseover="this.style.color='white'" onmouseout="this.style.color='#FFB90F'" style="text-align: center;color:#FFB90F;font-size:18px;width: 100px;font-weight: 300" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">手机</a><span class="label label-info text-center hidden-xs">New <i class="fa fa-caret-right"></i></span>
											<ul class="dropdown-menu">
												<li><a href="login.html">安卓</a></li>
												<li><a href="index-2.html">苹果</a></li>
											</ul>
										</li>
										<li><a href="product-detail.html" class="dropdown-toggle" onmouseover="this.style.color='#FFB90F'" style="text-align: center;font-size:18px;color: #FFFFF0;width: 100px;font-weight: 300" onmouseout="this.style.color='white'" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">电脑</a>
											<ul class="dropdown-menu">
												<li><a href="product.html">平板</a></li>
												<li><a href="product-detail.html">手提</a></li>
												<li><a href="new-product.html">台式</a></li>
											</ul>
										</li>
                                        <li><a href="about-us.html" onmouseover="this.style.color='#FFB90F'" onmouseout="this.style.color='white'" style="text-align: center;font-size:18px;color: #FFFFF0;width: 100px;font-weight: 300">电器</a> </li>

                                        <li><a href="product-detail.html" class="dropdown-toggle" onmouseover="this.style.color='#FFB90F'" style="text-align: center;font-size:18px;color: #FFFFF0;width: 100px;font-weight: 300" onmouseout="this.style.color='white'"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">彩妆</a><span class="label label-danger text-center hidden-xs">Hot <i class="fa fa-caret-right"></i></span>
											<ul class="dropdown-menu">
                                                <li><a href="product-detail.html">底妆</a></li>
												<li><a href="product.html">眼妆</a></li>
												<li><a href="new-product.html">唇妆</a></li>
												<li><a href="new-product.html">香水</a></li>
											</ul>
										</li>

                                        <li><a href="product-detail.html" class="dropdown-toggle" onmouseover="this.style.color='#FFB90F'" style="text-align: center;font-size:18px;color: #FFFFF0;width: 100px;font-weight: 300" onmouseout="this.style.color='white'"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">护肤</a>
											<ul class="dropdown-menu">
												<li><a href="product.html">洁面</a></li>
												<li><a href="product-detail.html">面膜</a></li>
												<li><a href="new-product.html">乳液面霜</a></li>
												<li><a href="new-product.html">精华眼霜</a></li>
											</ul>
										</li>
									</ul>
								</div>
                                <div class="logo col-sm-3" style="font-size: 24px;float:right;"><i class="fa fa-diamond"></i>Crecommend</div>
						        </div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>
        
		<section class="desk-com">
			<div class="container">
				<div class="row">
					<div class="col-sm-5" style="width: 400px">
						<div id="pro-img" class="carousel slide" data-ride="carousel" style="padding: 15px">
							<div class="carousel-inner" role="listbox" >
								<div class="item active" align="center" ><img src={{ result.img }} alt=""></div>
								<div class="item" align="center" ><img src={{ result.img }} alt=""></div>
								<div class="item" align="center" ><img src={{ result.img }} alt=""></div>
							</div>
							<a class="left carousel-control" href="#pro-img" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
							<a class="right carousel-control" href="#pro-img" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="pro-details">
							<p class="category">{{ result.shop }}</p>
							<h2>{{ result.description }}</h2>
							<ul class="list-inline rate-stock">
								<li><i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</li>
								<li>4 Reviews / Add Your Review </li>
								<li>Avialability : In Stock</li>
							</ul>
                            <ul class="list-inline wish-email">
								<li><i class="fa fa-heart-o"></i> 加入收藏夹</li>
{#								<li><i class="fa fa-file-o"></i> Add To Compare list</li>#}
{#								<li><i class="fa fa-envelope-o"></i> Email to a Friend</li>#}
							    </ul>
                            <div class="currency">￥{{ result.price }}<span>历史平均价格 ￥{{ result.avg_price }}</span></div>
                            <span class="tags">用户最关心属性:</span>
                             <p>
                                  {% for i in attributes %}
                                <a href="#">{{ i }}</a>,
                                  {% endfor %}
                             </p>

                            <div class="add-cart"><a class="btn btn-default" herf="#">去购买</a>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="desk-com">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="description">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active" ><a href="#description" aria-controls="home" role="tab" data-toggle="tab">关键属性评价</a></li>
								<li role="presentation" ><a href="#additional-info" aria-controls="profile" role="tab" data-toggle="tab">疑似刷单评价</a></li>
								<li role="presentation" ><a href="#reviews" aria-controls="messages" role="tab" data-toggle="tab">用户追评</a></li>
							</ul>
							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="description" style="padding: 20px">
                                    <div class="comment-info J-comment-info" >
                                        <div class="row">
                                             <div class="row">
                                                <div class="col-sm-2 " style="padding-left: 20px">
                                                      <h5 style="padding-left:15px;color:#556273;margin:0px;margin-top: 5px">情感平均值 </h5>
                                                      <strong style="color: #d43f3a;font-size: 45px;padding-left: 30px;padding-top: 0">{{ result.sentiment }}</strong>
                                                </div>
                                                <div class="col-sm-10 category">
                                                    <p style="color:#556273;font-size: 20px;">用户最关注属性</p>
                                                    <div class="pro-details" style="margin-top: 5px;padding-right: 250px">
                                                        {% for i in attributes %}
                                                        <a class=" tags" style="padding: 0 9px;margin: 5px;color:sandybrown;border-color: #e0e0e0;border: 1px solid #e0e0e0;" >{{ i }}</a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div id='score' class="comment-item" >
                                        {% for i in score_comments %}
                                        <div class="row">
                                            <div class="user-column col-sm-2">
                                                <div class="user-info" style="padding-left: 10px">
                                                    <img src="//misc.360buyimg.com/user/myjd-2015/css/i/peisong.jpg" alt="j***y" class="avatar" width="25" height="25">
                                                    <span style="padding-left: 5px" >{{ i.nickname }}</span>
                                                    </div>
                                                    <div class="user-level">
                                                    </div>
                                            </div>
                                            <div class="col-sm-10 comment-column J-comment-column" style="padding-left: 0;padding-right: 20px">
                                                <div class="comment-star star5"></div>
                                                <ul class="list-inline rate-stock">
                                                    <span style="display: none">{{ i.star }}</span>
                                                    <li>
                                                        <i class="fa fa-star" style="color: #e4393c"></i>
                                                        <i class="fa fa-star" style="color: #e4393c"></i>
                                                        <i class="fa fa-star" style="color: #e4393c"></i>
                                                        <i class="fa fa-star" style="color: #e4393c"></i>
                                                        <i class="fa fa-star" style="color: #e4393c"></i>
                                                    </li>
                                                    <strong id="price0"> 情感值 {{ i.score }}</strong>
                                                </ul>
                                                <p class="comment-con" style="color: #556273">{{ i.comment}}</p>
                                                <div class="J-pic-view-wrap clearfix" data-rotation="0">
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        {% endfor %}
                                    </div>
{#									<ul class="list-ver">#}
{#										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>#}
{#										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>#}
{#										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>#}
{#										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>#}
{#										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>#}
{#										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>#}
{#									</ul>#}
                                </div>
								<div role="tabpanel" class="tab-pane" id="additional-info" style="padding: 20px">
                                    <div class="comment-info J-comment-info" >
                                        <div class="row">
                                             <div class="row">
                                                <div class="col-sm-2 " style="padding-left: 20px">
                                                      <h5 style="padding-left:15px;color:#556273;margin:0px;margin-top: 5px">情感平均值 </h5>
                                                      <strong style="color: #d43f3a;font-size: 45px;padding-left: 30px;padding-top: 0">{{ result.sentiment }}</strong>
                                                </div>
                                                <div class="col-sm-10 category">
                                                    <p style="color:#556273;font-size: 20px;">用户最关注属性</p>
                                                    <div class="pro-details" style="margin-top: 5px;padding-right: 250px">
                                                        {% for i in attributes %}
                                                        <a class=" tags" style="padding: 0 9px;margin: 5px;color:sandybrown;border-color: #e0e0e0;border: 1px solid #e0e0e0;" >{{ i }}</a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div id='unreal' class="comment-item" >
                                        {% for i in unreal_comments %}
                                        <div class="row">
                                            <div class="user-column col-sm-2">
                                                <div class="user-info" style="padding-left: 10px">
                                                    <img src="//misc.360buyimg.com/user/myjd-2015/css/i/peisong.jpg" alt="j***y" class="avatar" width="25" height="25">
                                                    <span style="padding-left: 5px" >{{ i.nickname }}</span>
                                                    </div>
                                                    <div class="user-level">
                                                    </div>
                                            </div>
                                            <div class="col-sm-10 comment-column J-comment-column" style="padding-left: 0;padding-right: 20px">
                                                <div class="comment-star star5"></div>
                                                <ul class="list-inline rate-stock">
                                                    <span style="display: none">{{ i.star }}</span>
                                                    <li>
                                                        <i class="fa fa-star" style="color: #e4393c"></i>
                                                        <i class="fa fa-star" style="color: #e4393c"></i>
                                                        <i class="fa fa-star" style="color: #e4393c"></i>
                                                        <i class="fa fa-star" style="color: #e4393c"></i>
                                                        <i class="fa fa-star" style="color: #e4393c"></i>
                                                    </li>
{#                                                    <strong id="price0"> 情感值 {{ i.score }}</strong>#}
                                                </ul>
                                                <p class="comment-con" style="color: #556273">{{ i.comment}}</p>
                                                <div class="J-pic-view-wrap clearfix" data-rotation="0">
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        {% endfor %}
                                    </div>
                                </div>
								<div role="tabpanel" class="tab-pane" id="reviews" style="padding: 20px">
									<h2>Product Reviews</h2>
									<p>Lorem ipsum dolor sit amet, no mea aeterno indoctum percipitur. Homero quaerendum ius ei. In pro decore tamquam 									appetere, ea mentitum mediocrem efficiantur quo. Quo no assentior conclusionemque. Qui cu ceteros accusata. Partem 									utamur explicari eos at. Ad brute veritus theophrastus vis, an quo mutat voluptaria mnesarchum, eum impetus numquam 								intellegam in. Eu alii oratio aliquip mea, eum inani tantas ex. In sit vidit eirmod, ceteros reprimique sit cu, 								    facilisis assueverit disputationi ad est.</p>
									<ul class="list-ver">
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
									</ul>
                                </div>
							</div>
							<nav>
							  	<ul class="pager">
									<li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
									<li class="center-block"><a href="#"><i class="fa fa-th"></i></a></li>
									<li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
							  	</ul>
							</nav>
							
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- social icons -->
		<section class="social-icons">
			<div class="container">			
				<div class="row">	
					<div class="col-sm-12">
						<ul class="list-inline text-center">
							<li><a href="#" ><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" ><i class="fa fa-spotify"></i></a></li>
							<li><a href="#" ><i class="fa fa-tumblr"></i></a></li>
							<li><a href="#" ><i class="fa fa-share-alt"></i></a></li>
							<li><a href="#" ><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#" ><i class="fa fa-delicious"></i></a></li>
							<li><a href="#" ><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" ><i class="fa fa-dropbox"></i></a></li>
							<li><a href="#" ><i class="fa fa-soundcloud"></i></a></li>
							<li><a href="#" ><i class="fa fa-pinterest"></i></a></li>
							<li><a href="#" ><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" ><i class="fa fa-github-alt"></i></a></li>
							<li><a href="#" ><i class="fa fa-skype"></i></a></li>
							<li><a href="#" ><i class="fa fa-stumbleupon"></i></a></li>
							<li><a href="#" ><i class="fa fa-youtube"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>	
		
		<footer>
			<div class="footer-bottom">
				<div class="container">		
					<div class="row">	
						<div class="col-sm-12 text-center">
							<p>Copyright 2015 made by <a href="#">Bootultra.com</a> & Disign by Shaifuddin. All Rights Reserved.</p>
							<ul class="list-inline center-block">
								<li><a href="#"><img src="static/market/images/card-1.png"></a></li>
								<li><a href="#"><img src="static/market/images/card-2.png"></a></li>
								<li><a href="#"><img src="static/market/images/card-3.png"></a></li>
								<li><a href="#"><img src="static/market/images/card-4.png"></a></li>
								<li><a href="#"><img src="static/market/images/card-5.png"></a></li>
							</ul>
						</div>
					</div>
				</div>	
			</div>
		</footer>
			
        <!-- ALL JAVASCRIPT -->         
        <script src="static/market/js/jquery.js"></script>
        <script src="static/market/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/market/js/custom.js"></script>
        <script>
            var div = document.getElementById("score")
            var ul = div.getElementsByTagName('ul')
            for(var i=0;i<ul.length;i++) {
                var star = Number(ul[i].getElementsByTagName('span')[0].innerHTML)
                var li = ul[i].getElementsByTagName('i')
                for(var j=star;j<5;j++){
                    li[j].className = "fa fa-star-o"
                }
            }
        </script>
    </body>
</html>