<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
		<title>Crecommend</title>
        <!-- ALL STYLESHEET -->
        <link href="{% static 'market/css/style.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'market/css/style2.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'market/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'market/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    </head>   
	<body>
		<!-- header -->
		<header class="header">

			<!-- header top -->
			<div class="header-top">
				<div class="container">
					<div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <h5><span class="t-color-1" style="font-weight: bold">Crecommend</span></h5>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-inline pull-right">
                                    <li><a href="#" ><i class="fa fa-user"></i> 我的账号</a></li>
                                    <li><a href="#" ><i class="fa fa-heart-o"></i> 收藏夹</a></li>
                                    <li><a class="register" href="#" >登录</a></li>
                                    <li><a class="register" href="#" >注册</a></li>
                                </ul>
                            </div>
					    </div>
				    </div>
			    </div>
            </div>
			<!-- header bottom -->
			<div class="header-bottom">
				<div class="row">
					<div class="col-sm-12">
						<nav class="navbar navbar-default">
							<div class="container">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-bottom" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="row">
								<div class="col-sm-9 collapse navbar-collapse" id="header-bottom">
									<ul class="nav navbar-nav">
										<li class="active"><a href="#" class="dropdown-toggle"  onmouseover="this.style.color='white'" onmouseout="this.style.color='#FFB90F'" style="text-align: center;color:#FFB90F;font-size:18px;width: 100px;font-weight: 300" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">手机</a><span class="label label-info text-center hidden-xs">New <i class="fa fa-caret-right"></i></span>
											<ul class="dropdown-menu">
												<li><a href="login.html">安卓</a></li>
												<li><a href="index-2.html">苹果</a></li>
											</ul>
										</li>
										<li><a href="product-detail.html" class="dropdown-toggle" onmouseover="this.style.color='#FFB90F'" style="text-align: center;font-size:18px;color: #FFFFF0;width: 100px;font-weight: 300" onmouseout="this.style.color='white'" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">电脑</a>
											<ul class="dropdown-menu">
												<li><a href="product.html">平板</a></li>
												<li><a href="product-detail.html">手提</a></li>
												<li><a href="new-product.html">台式</a></li>
											</ul>
										</li>
                                        <li><a href="about-us.html" onmouseover="this.style.color='#FFB90F'" onmouseout="this.style.color='white'" style="text-align: center;font-size:18px;color: #FFFFF0;width: 100px;font-weight: 300">电器</a> </li>

                                        <li><a href="product-detail.html" class="dropdown-toggle" onmouseover="this.style.color='#FFB90F'" style="text-align: center;font-size:18px;color: #FFFFF0;width: 100px;font-weight: 300" onmouseout="this.style.color='white'"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">彩妆</a><span class="label label-danger text-center hidden-xs">Hot <i class="fa fa-caret-right"></i></span>
											<ul class="dropdown-menu">
                                                <li><a href="product-detail.html">底妆</a></li>
												<li><a href="product.html">眼妆</a></li>
												<li><a href="new-product.html">唇妆</a></li>
												<li><a href="new-product.html">香水</a></li>
											</ul>
										</li>

                                        <li><a href="product-detail.html" class="dropdown-toggle" onmouseover="this.style.color='#FFB90F'" style="text-align: center;font-size:18px;color: #FFFFF0;width: 100px;font-weight: 300" onmouseout="this.style.color='white'"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">护肤</a>
											<ul class="dropdown-menu">
												<li><a href="product.html">洁面</a></li>
												<li><a href="product-detail.html">面膜</a></li>
												<li><a href="new-product.html">乳液面霜</a></li>
												<li><a href="new-product.html">精华眼霜</a></li>
											</ul>
										</li>
									</ul>
								</div>
                                <div class="logo col-sm-3" style="font-size: 24px;float:right;"><i class="fa fa-diamond"></i>Crecommend</div>
						        </div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>
        
		<section class="desk-com">
			<div class="container">
				<div class="row">
					<div class="col-sm-5" style="width: 450px">
						<div id="pro-img" class="carousel slide" data-ride="carousel" style="padding: 15px;margin: 15px ">
							<div class="carousel-inner" role="listbox" >
								<div class="item active" align="center" ><img src={{ result.img }} alt=""></div>
								<div class="item" align="center" ><img src={{ result.img }} alt=""></div>
								<div class="item" align="center" ><img src={{ result.img }} alt=""></div>
							</div>
							<a class="left carousel-control" href="#pro-img" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
							<a class="right carousel-control" href="#pro-img" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="pro-details">
							<p class="category">{{ result.shop }}</p>
							<h2>{{ result.description }}</h2>
							<ul class="list-inline rate-stock">
								<li><i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</li>
								<li>4 Reviews / Add Your Review </li>
								<li>Avialability : In Stock</li>
							</ul>
							<ul class="list-inline wish-email">
								<li><i class="fa fa-heart-o"></i> Add To Wishlist</li>
{#								<li><i class="fa fa-file-o"></i> Add To Compare list</li>#}
								<li><i class="fa fa-envelope-o"></i> Email to a Friend</li>
							</ul>
							<p>Raw p quis cardigan american apparel, butcher voluptate nisi qui.</p>
							<div class="currency">{{ result.price }}<span>{{ result.avg_price }}</span></div>
							<div class="add-cart"><a class="btn btn-default" herf="#">去购买</a></div>
							<p class="tags">Tags :  <a href="#">laptops</a>, <a href="#">desktops</a>, <a href="#">tablets</a>, <a href="#">tablets</a>, <a href="#">tablets</a></p>
							<ul class="list-inline p-d-social">
								<li>Share with Friends : </li>
								<li><i class="fa fa-flickr"></i></li>
								<li><i class="fa fa-pinterest-square"></i></li>
								<li><i class="fa fa-facebook-square"></i></li>
								<li><i class="fa fa-twitter-square"></i></li>
								<li><i class="fa fa-linkedin-square"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="desk-com">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="description">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#description" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
								<li role="presentation"><a href="#additional-info" aria-controls="profile" role="tab" data-toggle="tab">Additional Information</a></li>
								<li role="presentation"><a href="#reviews" aria-controls="messages" role="tab" data-toggle="tab">Reviews(4)</a></li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="description">
									<h2>Product Feature</h2>
									<p>Lorem ipsum dolor sit amet, no mea aeterno indoctum percipitur. Homero quaerendum ius ei. In pro decore tamquam 									appetere, ea mentitum mediocrem efficiantur quo. Quo no assentior conclusionemque. Qui cu ceteros accusata. Partem 									utamur explicari eos at. Ad brute veritus theophrastus vis, an quo mutat voluptaria mnesarchum, eum impetus numquam 								intellegam in. Eu alii oratio aliquip mea, eum inani tantas ex. In sit vidit eirmod, ceteros reprimique sit cu, 								    facilisis assueverit disputationi ad est.</p>

									<ul class="list-ver">
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
									</ul>

									<p>Lorem ipsum dolor sit amet, no mea aeterno indoctum percipitur. Homero quaerendum ius ei. In pro decore tamquam 									appetere, ea mentitum mediocrem efficiantur quo. Quo no assentior conclusionemque. Qui cu ceteros accusata. Partem 									utamur explicari eos at. Ad brute veritus theophrastus vis, an quo mutat voluptaria mnesarchum, eum impetus numquam 								intellegam in. Eu alii oratio aliquip mea, eum inani tantas ex. In sit vidit eirmod, ceteros reprimique sit cu, 								    facilisis assueverit disputationi ad est.</p>
								</div>
								<div role="tabpanel" class="tab-pane" id="additional-info">
									<h2>Product's More Information</h2>
									<p>Lorem ipsum dolor sit amet, no mea aeterno indoctum percipitur. Homero quaerendum ius ei. In pro decore tamquam 									appetere, ea mentitum mediocrem efficiantur quo. Quo no assentior conclusionemque. Qui cu ceteros accusata. Partem 									utamur explicari eos at. Ad brute veritus theophrastus vis, an quo mutat voluptaria mnesarchum, eum impetus numquam 								intellegam in. Eu alii oratio aliquip mea, eum inani tantas ex. In sit vidit eirmod, ceteros reprimique sit cu, 								    facilisis assueverit disputationi ad est.</p>

									<ul class="list-ver">
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
									</ul>

									<p>Lorem ipsum dolor sit amet, no mea aeterno indoctum percipitur. Homero quaerendum ius ei. In pro decore tamquam 									appetere, ea mentitum mediocrem efficiantur quo. Quo no assentior conclusionemque. Qui cu ceteros accusata. Partem 									utamur explicari eos at. Ad brute veritus theophrastus vis, an quo mutat voluptaria mnesarchum, eum impetus numquam 								intellegam in. Eu alii oratio aliquip mea, eum inani tantas ex. In sit vidit eirmod, ceteros reprimique sit cu, 								    facilisis assueverit disputationi ad est.</p>
								</div>
								<div role="tabpanel" class="tab-pane" id="reviews">
									<h2>Product Reviews</h2>
									<p>Lorem ipsum dolor sit amet, no mea aeterno indoctum percipitur. Homero quaerendum ius ei. In pro decore tamquam 									appetere, ea mentitum mediocrem efficiantur quo. Quo no assentior conclusionemque. Qui cu ceteros accusata. Partem 									utamur explicari eos at. Ad brute veritus theophrastus vis, an quo mutat voluptaria mnesarchum, eum impetus numquam 								intellegam in. Eu alii oratio aliquip mea, eum inani tantas ex. In sit vidit eirmod, ceteros reprimique sit cu, 								    facilisis assueverit disputationi ad est.</p>

									<ul class="list-ver">
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
										<li><i class="fa fa-check"></i>Mutat voluptaria mnesarchum impetus</li>
									</ul>

									<p>Lorem ipsum dolor sit amet, no mea aeterno indoctum percipitur. Homero quaerendum ius ei. In pro decore tamquam 									appetere, ea mentitum mediocrem efficiantur quo. Quo no assentior conclusionemque. Qui cu ceteros accusata. Partem 									utamur explicari eos at. Ad brute veritus theophrastus vis, an quo mutat voluptaria mnesarchum, eum impetus numquam 								intellegam in. Eu alii oratio aliquip mea, eum inani tantas ex. In sit vidit eirmod, ceteros reprimique sit cu, 								    facilisis assueverit disputationi ad est.</p>
								</div>
							</div>
							<nav>
							  	<ul class="pager">
									<li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
									<li class="center-block"><a href="#"><i class="fa fa-th"></i></a></li>
									<li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
							  	</ul>
							</nav>
							
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- social icons -->
		<section class="social-icons">
			<div class="container">			
				<div class="row">	
					<div class="col-sm-12">
						<ul class="list-inline text-center">
							<li><a href="#" ><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" ><i class="fa fa-spotify"></i></a></li>
							<li><a href="#" ><i class="fa fa-tumblr"></i></a></li>
							<li><a href="#" ><i class="fa fa-share-alt"></i></a></li>
							<li><a href="#" ><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#" ><i class="fa fa-delicious"></i></a></li>
							<li><a href="#" ><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" ><i class="fa fa-dropbox"></i></a></li>
							<li><a href="#" ><i class="fa fa-soundcloud"></i></a></li>
							<li><a href="#" ><i class="fa fa-pinterest"></i></a></li>
							<li><a href="#" ><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" ><i class="fa fa-github-alt"></i></a></li>
							<li><a href="#" ><i class="fa fa-skype"></i></a></li>
							<li><a href="#" ><i class="fa fa-stumbleupon"></i></a></li>
							<li><a href="#" ><i class="fa fa-youtube"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>	
		
		<footer>
			<div class="footer-bottom">
				<div class="container">		
					<div class="row">	
						<div class="col-sm-12 text-center">
							<p>Copyright 2015 made by <a href="#">Bootultra.com</a> & Disign by Shaifuddin. All Rights Reserved.</p>
							<ul class="list-inline center-block">
								<li><a href="#"><img src="static/market/images/card-1.png"></a></li>
								<li><a href="#"><img src="static/market/images/card-2.png"></a></li>
								<li><a href="#"><img src="static/market/images/card-3.png"></a></li>
								<li><a href="#"><img src="static/market/images/card-4.png"></a></li>
								<li><a href="#"><img src="static/market/images/card-5.png"></a></li>
							</ul>
						</div>
					</div>
				</div>	
			</div>
		</footer>
			
        <!-- ALL JAVASCRIPT -->         
        <script src="static/market/js/jquery.js"></script>
        <script src="static/market/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/market/js/custom.js"></script>
    </body>
</html>