<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
		<title>Crecommend</title>
        <link href="{% static 'market/css/style.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'market/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'market/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

        <style>
            .mystrong{
                font-size: 12px !important;
                font-weight: 300 !important;
                color:#8B8378 !important;
            }
        </style>
    </head>   
	<body>
		<!-- header -->
		<header class="header">
			
			<!-- header top -->
			<div class="header-top">
				<div class="container">
					<div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <h5><span class="t-color-1" style="font-weight: bold">Crecommend</span></h5>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-inline pull-right">
                                    <li><a href="#" ><i class="fa fa-user"></i> 我的账号</a></li>
                                    <li><a href="#" ><i class="fa fa-heart-o"></i> 收藏夹</a></li>
                                    <li><a class="register" href="#" >登录</a></li>
                                    <li><a class="register" href="#" >注册</a></li>
                                </ul>
                            </div>
					    </div>
				    </div>
			    </div>
            </div>
			<!-- header bottom -->
			<div class="header-bottom">
				<div class="row">
					<div class="col-sm-12">
						<nav class="navbar navbar-default">
							<div class="container">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-bottom" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="row">
								<div class="col-sm-9 collapse navbar-collapse" id="header-bottom">
									<ul class="nav navbar-nav">
										<li class="active"><a href="#" class="dropdown-toggle"  onmouseover="this.style.color='white'" onmouseout="this.style.color='#FFB90F'" style="text-align: center;color:#FFB90F;font-size:18px;width: 100px;font-weight: 300" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">手机</a><span class="label label-info text-center hidden-xs">New <i class="fa fa-caret-right"></i></span>
											<ul class="dropdown-menu">
												<li><a href="login.html">安卓</a></li>
												<li><a href="index-2.html">苹果</a></li>
											</ul>
										</li>
										<li><a href="product-detail.html" class="dropdown-toggle" onmouseover="this.style.color='#FFB90F'" style="text-align: center;font-size:18px;color: #FFFFF0;width: 100px;font-weight: 300" onmouseout="this.style.color='white'" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">电脑</a>
											<ul class="dropdown-menu">
												<li><a href="product.html">平板</a></li>
												<li><a href="product-detail.html">手提</a></li>
												<li><a href="new-product.html">台式</a></li>
											</ul>
										</li>
                                        <li><a href="about-us.html" onmouseover="this.style.color='#FFB90F'" onmouseout="this.style.color='white'" style="text-align: center;font-size:18px;color: #FFFFF0;width: 100px;font-weight: 300">电器</a> </li>

                                        <li><a href="product-detail.html" class="dropdown-toggle" onmouseover="this.style.color='#FFB90F'" style="text-align: center;font-size:18px;color: #FFFFF0;width: 100px;font-weight: 300" onmouseout="this.style.color='white'"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">彩妆</a><span class="label label-danger text-center hidden-xs">Hot <i class="fa fa-caret-right"></i></span>
											<ul class="dropdown-menu">
                                                <li><a href="product-detail.html">底妆</a></li>
												<li><a href="product.html">眼妆</a></li>
												<li><a href="new-product.html">唇妆</a></li>
												<li><a href="new-product.html">香水</a></li>
											</ul>
										</li>

                                        <li><a href="product-detail.html" class="dropdown-toggle" onmouseover="this.style.color='#FFB90F'" style="text-align: center;font-size:18px;color: #FFFFF0;width: 100px;font-weight: 300" onmouseout="this.style.color='white'"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">护肤</a>
											<ul class="dropdown-menu">
												<li><a href="product.html">洁面</a></li>
												<li><a href="product-detail.html">面膜</a></li>
												<li><a href="new-product.html">乳液面霜</a></li>
												<li><a href="new-product.html">精华眼霜</a></li>
											</ul>
										</li>
									</ul>
								</div>
                                <div class="logo col-sm-3" style="font-size: 24px;float:right;"><i class="fa fa-diamond"></i>Crecommend</div>
						        </div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>	
		
		<!-- desktop bar -->
		<section class="desktop-bar">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
					 <h3>Products <i class="fa fa-bars"></i></h3>
					</div>
					<div class="col-sm-8">
						<ol class="breadcrumb hidden-xs pull-right">
							<li><a href="#">Home</a></li>
							<li><a href="#">Shop</a></li>
							<li class="active"><a href="#">Products</a></li>
						</ol>
					</div>
				</div>
			</div>
		</section>
		
		<!-- recommented products -->
		<section class="featured-product recommented-product">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="sidebar">
							<div class="well wedget">
							 	<strong>Fillter by price</strong>
								<div class="heading-border b-color-6"></div>
								
								<div class="progress">
								  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
									<span class="sr-only">20% Complete</span>
								  </div>
								</div>
								
								<small>Currency Shopping By :</small>
								<p>Price : <span>$260 - $980</span></p>
								
								<a class="btn btn-default btn-block" href="#">Fillter Now</a>
							</div>
							<div class="well wedget">
							 	<strong>Fillter by Brand</strong>
								<div class="heading-border b-color-6"></div>
								
								 <ul class="check-box">
									<li>
										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-primary active">
												<input type="checkbox" autocomplete="off" checked><i class="fa fa-check"></i>
											</label>Asus - <span class="pull-right">846</span>
										</div>
									 </li>
									 <li>
										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-primary active">
												<input type="checkbox" autocomplete="off" checked><i class="fa fa-check"></i>
											</label>HP - <span class="pull-right">789</span>
										</div>
									 </li>
									  <li>
										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-primary active">
												<input type="checkbox" autocomplete="off" checked><i class="fa fa-check"></i>
											</label>Apple - <span class="pull-right">313</span>
										</div>
									 </li>
									  <li>
										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-primary active">
												<input type="checkbox" autocomplete="off" checked><i class="fa fa-check"></i>
											</label>Dell - <span class="pull-right">452</span>
										</div>
									 </li>
									  <li>
										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-primary active">
												<input type="checkbox" autocomplete="off" checked><i class="fa fa-check"></i>
											</label>Acer - <span class="pull-right">46</span>
										</div>
									 </li>
								</ul>
							</div>
							<div class="well wedget footer-top">
							 	<strong>Special Offers</strong>
								<div class="heading-border b-color-6"></div>
								<ul class="media-list">
									<li class="media">
										<div class="media-left"><img src="static/market/images/featured-1.jpg" alt=""></div>
										<div class="media-body">
											<p class="media-heading">Lorem ipsum dolor</p>
											<div class="category">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i> 
												<i class="fa fa-star"></i> 
												<i class="fa fa-star"></i> 
												<i class="fa fa-star-o"></i>
											</div>
											<strong>$899.99</strong>
										</div>
									</li>
									<li class="media">
										<div class="media-left"><img src="static/market/images/featured-1.jpg" alt=""></div>
										<div class="media-body">
											<p class="media-heading">Lorem ipsum dolor</p>
											<div class="category">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i> 
												<i class="fa fa-star"></i> 
												<i class="fa fa-star"></i> 
												<i class="fa fa-star-o"></i>
											</div>
											<strong>$899.99</strong>
										</div>
									</li>
									<li class="media">
										<div class="media-left"><img src="static/market/images/featured-1.jpg" alt=""></div>
										<div class="media-body">
											<p class="media-heading">Lorem ipsum dolor</p>
											<div class="category">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i> 
												<i class="fa fa-star"></i> 
												<i class="fa fa-star"></i> 
												<i class="fa fa-star-o"></i>
											</div>
											<strong>$899.99</strong>
										</div>
									</li>
									
								</ul>
							</div>

						</div> <!-- sidebar -->
					</div>

					<div class="col-sm-9">
						<div class="row">
							<div class="col-sm-12">
								<div class="">
									<h1><span class="t-color-1">Recommended</span> Products</h1>
									<div class="heading-border b-color-1"></div>
								</div>
							</div>
						</div> <!-- section title -->
						
						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic" data-slide-to="0" class="active"><i class="fa fa-angle-left"></i></li>
								<li data-target="#carousel-example-generic" data-slide-to="1"><i class="fa fa-angle-right"></i></li>
							</ol>
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<div class="row">
										<div class="col-sm-4" >
											<div class="thumbnail">
												<!--span class="e-label"><div>Sale</div></span-->
												<span class="service-link text-center" >
{#													<img class="img-responsive" id="image-1" src="static/market/images/f-pro-1.jpg" alt="" height="180" width="180" >#}
													<img class="img-responsive" id="image0" src="static/market/images/f-pro-1.jpg" alt="">
													<div class="list-inline">
														<a href=""><i class="fa fa-eye"></i></a>
														<a href=""><i class="fa fa-link"></i></a>
													</div>
												</span>
												<div class="caption">
													<div class="category" >
                                                        <strong id="price0">$899.00</strong>
                                                        <p class="pull-right" id="rate0" style="color: #d43f3a;font-size: 20px">98.00%</p>
                                                        <h5 id="name0" style="color: #5e5e5e;">Lorem ipsum dolor sit amet dolorem molestie</h5>
                                                        <strong id="shop0" class="mystrong"></strong><strong id="follow0" style="font-size:12px;font-weight: bold;color:#836FFF"></strong><strong class="mystrong">人关注</strong>
                                                        <br>
                                                        <strong id="comment0" style="color: #836FFF;font-weight: bold;font-size:12px;"></strong><strong class="mystrong"> 条评价</strong>
                                                        <br>
                                                    </div>

                                                    <a href="#" class="btn btn-default" role="button">查看详情</a><span class="pull-right"><i class="fa fa-heart-o"></i> 加入收藏夹</span>
                                                </div>
                                            </div>
                                        </div>
										<div class="col-sm-4">
											<div class="thumbnail">
												<span class="service-link text-center">
													<img class="img-responsive" id="image1" src="static/market/images/f-pro-1.jpg" alt="">
													<div class="list-inline">
														<a href=""><i class="fa fa-eye"></i></a>
														<a href=""><i class="fa fa-link"></i></a>
													</div>
												</span>
												<div class="caption">
													<div class="category"> category
														<div class="pull-right">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
														</div>
													</div>
													<h3 id="name1">Lorem ipsum dolor sit amet dolorem molestie</h3>
													<strong id="price1">$899.00</strong>
													<div><a href="#" class="btn btn-default" role="button">查看详情</a><span class="pull-right"><i class="fa fa-heart-o"></i> Add to Wishlist</span></div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="thumbnail">
												<span class="service-link text-center">
													<img class="img-responsive" id="image2" src="static/market/images/f-pro-1.jpg" alt="">
													<div class="list-inline">
														<a href=""><i class="fa fa-eye"></i></a>
														<a href=""><i class="fa fa-link"></i></a>
													</div>
												</span>
												<div class="caption">
													<div class="category"> category
														<div class="pull-right">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
														</div>
													</div>
													<h3 id="name2">Lorem ipsum dolor sit amet dolorem molestie</h3>
													<strong id="price2">$899.00</strong>
													<div>
														<a href="#" class="btn btn-default" role="button">Add to Cart</a><span class="pull-right"><i class="fa fa-heart-o"></i> Add to Wishlist</span></div>
												</div>
											</div>
										</div>
									</div>
                                    <div class="row">
										<div class="col-sm-4" >
											<div class="thumbnail">
												<!--span class="e-label"><div>Sale</div></span-->
												<span class="service-link text-center" >
{#													<img class="img-responsive" id="image2" id="image-1" src="static/market/images/f-pro-1.jpg" alt="" height="180" width="180" >#}
													<img class="img-responsive" id="image3" src="static/market/images/f-pro-1.jpg" alt="">
													<div class="list-inline">
														<a href=""><i class="fa fa-eye"></i></a>
														<a href=""><i class="fa fa-link"></i></a>
													</div>
												</span>
												<div class="caption">
													<div class="category"> category
														<div class="pull-right">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
														</div>
													</div>
													<h3 id="name3">Lorem ipsum dolor sit amet dolorem molestie</h3>
													<strong id="price3">$899.00</strong>
													<div><a href="#" class="btn btn-default" role="button">Add to Cart</a><span class="pull-right"><i class="fa fa-heart-o"></i> Add to Wishlist</span></div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="thumbnail">
												<span class="service-link text-center">
													<img class="img-responsive" id="image4" src="static/market/images/f-pro-1.jpg" alt="">
													<div class="list-inline">
														<a href=""><i class="fa fa-eye"></i></a>
														<a href=""><i class="fa fa-link"></i></a>
													</div>
												</span>
												<div class="caption">
													<div class="category"> category
														<div class="pull-right">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
														</div>
													</div>
													<h3 id="name4">Lorem ipsum dolor sit amet dolorem molestie</h3>
													<strong id="price4">$899.00</strong>
													<div><a href="#" class="btn btn-default" role="button">Add to Cart</a><span class="pull-right"><i class="fa fa-heart-o"></i> Add to Wishlist</span></div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="thumbnail">
												<span class="service-link text-center">
													<img class="img-responsive" id="image5" src="static/market/images/f-pro-1.jpg" alt="">
													<div class="list-inline">
														<a href=""><i class="fa fa-eye"></i></a>
														<a href=""><i class="fa fa-link"></i></a>
													</div>
												</span>
												<div class="caption">
													<div class="category"> category
														<div class="pull-right">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
														</div>
													</div>
													<h3 id="name5">Lorem ipsum dolor sit amet dolorem molestie</h3>
													<strong id="price5">$899.00</strong>
													<div>
														<a href="#" class="btn btn-default" role="button">Add to Cart</a><span class="pull-right"><i class="fa fa-heart-o"></i> Add to Wishlist</span></div>
												</div>
											</div>
										</div>
									</div>
                                    <div class="row">
										<div class="col-sm-4" >
											<div class="thumbnail">
												<!--span class="e-label"><div>Sale</div></span-->
												<span class="service-link text-center" >
{#													<img class="img-responsive" id="image6" id="image6" id="image-1" src="static/market/images/f-pro-1.jpg" alt="" height="180" width="180" >#}
													<img class="img-responsive" id="image6" src="static/market/images/f-pro-1.jpg" alt="">
													<div class="list-inline">
														<a href=""><i class="fa fa-eye"></i></a>
														<a href=""><i class="fa fa-link"></i></a>
													</div>
												</span>
												<div class="caption">
													<div class="category"> category
														<div class="pull-right">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
														</div>
													</div>
													<h3 id="name6">Lorem ipsum dolor sit amet dolorem molestie</h3>
													<strong id="price6">$899.00</strong>
													<div><a href="#" class="btn btn-default" role="button">Add to Cart</a><span class="pull-right"><i class="fa fa-heart-o"></i> Add to Wishlist</span></div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="thumbnail">
												<span class="service-link text-center">
													<img class="img-responsive" id="image7" src="static/market/images/f-pro-1.jpg" alt="">
													<div class="list-inline">
														<a href=""><i class="fa fa-eye"></i></a>
														<a href=""><i class="fa fa-link"></i></a>
													</div>
												</span>
												<div class="caption">
													<div class="category"> category
														<div class="pull-right">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
														</div>
													</div>
													<h3 id="name7">Lorem ipsum dolor sit amet dolorem molestie</h3>
													<strong id="price7">$899.00</strong>
													<div><a href="#" class="btn btn-default" role="button">Add to Cart</a><span class="pull-right"><i class="fa fa-heart-o"></i> Add to Wishlist</span></div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="thumbnail">
												<span class="service-link text-center">
													<img class="img-responsive" id="image8" src="static/market/images/f-pro-1.jpg" alt="">
													<div class="list-inline">
														<a href=""><i class="fa fa-eye"></i></a>
														<a href=""><i class="fa fa-link"></i></a>
													</div>
												</span>
												<div class="caption">
													<div class="category"> category
														<div class="pull-right">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
														</div>
													</div>
													<h3 id="name8">Lorem ipsum dolor sit amet dolorem molestie</h3>
													<strong id="price8">$899.00</strong>
													<div>
														<a href="#" class="btn btn-default" role="button">Add to Cart</a><span class="pull-right"><i class="fa fa-heart-o"></i> Add to Wishlist</span></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="row">
										<div class="col-sm-4">
											<div class="thumbnail">
												<!--span class="e-label"><div>Sale</div></span-->
												<span class="service-link text-center">
													<img class="img-responsive" id="image9" src="static/market/images/f-pro-1.jpg" alt="">
													<div class="list-inline">
														<a href=""><i class="fa fa-eye"></i></a>
														<a href=""><i class="fa fa-link"></i></a>
													</div>
												</span>
												<div class="caption">
													<div class="category"> category
														<div class="pull-right">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
														</div>
													</div>
													<h3 id="name9">Lorem ipsum dolor sit amet dolorem molestie</h3>
													<strong id="price9">$899.00</strong>
													<div><a href="#" class="btn btn-default" role="button">Add to Cart</a><span class="pull-right"><i class="fa fa-heart-o"></i> Add to Wishlist</span></div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="thumbnail">
												<span class="service-link text-center">
													<img class="img-responsive" id="image10" src="static/market/images/f-pro-1.jpg" alt="">
													<div class="list-inline">
														<a href=""><i class="fa fa-eye"></i></a>
														<a href=""><i class="fa fa-link"></i></a>
													</div>
												</span>
												<div class="caption">
													<div class="category"> category
														<div class="pull-right">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
														</div>
													</div>
													<h3 id="name10">Lorem ipsum dolor sit amet dolorem molestie</h3>
													<strong id="price10">$899.00</strong>
													<div><a href="#" class="btn btn-default" role="button">Add to Cart</a><span class="pull-right"><i class="fa fa-heart-o"></i> Add to Wishlist</span></div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="thumbnail">
												<span class="service-link text-center">
													<img class="img-responsive" id="image11" src="static/market/images/f-pro-1.jpg" alt="">
													<div class="list-inline">
														<a href=""><i class="fa fa-eye"></i></a>
														<a href=""><i class="fa fa-link"></i></a>
													</div>
												</span>
												<div class="caption">
													<div class="category"> category
														<div class="pull-right">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
														</div>
													</div>
													<h3 id="name11">Lorem ipsum dolor sit amet dolorem molestie</h3>
													<strong id="price11">$899.00</strong>
													<div>
														<a href="#" class="btn btn-default" role="button">Add to Cart</a><span class="pull-right"><i class="fa fa-heart-o"></i> Add to Wishlist</span></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- pagination -->
						<nav>
							<ul class="pagination">
								<li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
								<li><a href="#">1</a></li>
								<li class="active"><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
							</li>
							</ul>
						</nav>
					</div><!--div 9 -->
				</div>
			</div>
		</section>

		<!-- social icons -->
		<section class="social-icons">
			<div class="container">			
				<div class="row">	
					<div class="col-sm-12">
						<ul class="list-inline text-center">
							<li><a href="#" ><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" ><i class="fa fa-spotify"></i></a></li>
							<li><a href="#" ><i class="fa fa-tumblr"></i></a></li>
							<li><a href="#" ><i class="fa fa-share-alt"></i></a></li>
							<li><a href="#" ><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#" ><i class="fa fa-delicious"></i></a></li>
							<li><a href="#" ><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" ><i class="fa fa-dropbox"></i></a></li>
							<li><a href="#" ><i class="fa fa-soundcloud"></i></a></li>
							<li><a href="#" ><i class="fa fa-pinterest"></i></a></li>
							<li><a href="#" ><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" ><i class="fa fa-github-alt"></i></a></li>
							<li><a href="#" ><i class="fa fa-skype"></i></a></li>
							<li><a href="#" ><i class="fa fa-stumbleupon"></i></a></li>
							<li><a href="#" ><i class="fa fa-youtube"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>	
		
		<footer>
			<div class="footer-bottom">
				<div class="container">		
					<div class="row">	
						<div class="col-sm-12 text-center">
							<p>Copyright 2015 made by <a href="#">Bootultra.com</a> & Disign by Shaifuddin. All Rights Reserved.</p>
							<ul class="list-inline center-block">
								<li><a href="#"><img src="static/market/images/card-1.png"></a></li>
								<li><a href="#"><img src="static/market/images/card-2.png"></a></li>
								<li><a href="#"><img src="static/market/images/card-3.png"></a></li>
								<li><a href="#"><img src="static/market/images/card-4.png"></a></li>
								<li><a href="#"><img src="static/market/images/card-5.png"></a></li>
							</ul>
						</div>
					</div>
				</div>	
			</div>
		</footer>
			
        <!-- ALL JAVASCRIPT -->         
        <script src="static/market/js/jquery.js"></script>
        <script src="static/market/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/market/js/custom.js"></script>

        <script type="text/javascript">
            var List = {{ List|safe}};
            items = List['data']['item_list']
            len = items.length
            for(var i=0;i<=11;i++){
                var image = 'image'+i
                var name = 'name'+i
                var price = 'price'+i
                var rate = 'rate'+i
                var shop = 'shop'+i
                var follow = 'follow'+i
                var comment = 'comment'+i
                var score = 'score'+i
                document.getElementById(image).src = items[i]['img_address']
                document.getElementById(name).innerHTML = items[i]['description']
                document.getElementById(price).innerHTML = '￥'+items[i]['price']
                document.getElementById(rate).innerHTML = items[i]['rate']
                document.getElementById(shop).innerHTML = items[i]['shop']
                document.getElementById(follow).innerHTML = '  '+items[i]['follow']
                document.getElementById(comment).innerHTML = items[i]['comment']
{#                document.getElementById(score).innerHTML = items[i]['score']#}
            }
        </script>
    </body>
</html>